*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
}
.container {
   background-color: rgb(167, 167, 242);
   margin: 50px;
   width: 80%;
   height: 980px;
   padding: 20px;
}
 .container {
            padding: 20px;
            border: 1px solid rgb(192, 53, 53);
        }
h1 {
    font-size: 70px;
    display: flex;
    justify-content: center;
    top: 20px;
}
p {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 50px;
}
button {
    color: azure;
    background-color: black;
    position: relative;
    left: 40%;
    top: 25px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    font-size: 20px;
}

